
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-comment:before { content: '\e801'; } /* '' */
.icon-comment-alt:before { content: '\e802'; } /* '' */
.icon-comment-1:before { content: '\e803'; } /* '' */
.icon-comment-2:before { content: '\e804'; } /* '' */
.icon-tag:before { content: '\e805'; } /* '' */
.icon-tag-1:before { content: '\e806'; } /* '' */
.icon-tag-2:before { content: '\e807'; } /* '' */
.icon-tags:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-help-circled:before { content: '\e80a'; } /* '' */
.icon-home-outline:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e80e'; } /* '' */
.icon-key:before { content: '\e80f'; } /* '' */
.icon-cog-alt:before { content: '\e810'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-at:before { content: '\e812'; } /* '' */
.icon-pencil:before { content: '\e813'; } /* '' */
.icon-down-hand:before { content: '\e814'; } /* '' */
.icon-cog:before { content: '\e815'; } /* '' */
.icon-wrench:before { content: '\e816'; } /* '' */
.icon-doc-text:before { content: '\e817'; } /* '' */
.icon-users:before { content: '\e818'; } /* '' */
.icon-cancel-1:before { content: '\e819'; } /* '' */
.icon-plus:before { content: '\e81a'; } /* '' */
.icon-plus-1:before { content: '\e81b'; } /* '' */
.icon-floppy:before { content: '\e81c'; } /* '' */
.icon-emo-devil:before { content: '\e81d'; } /* '' */
.icon-emo-laugh:before { content: '\e81e'; } /* '' */
.icon-help-circled-1:before { content: '\e81f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-admin:before { content: '\e844'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */